{% extends 'base.html' %}

{% block content %}

	<h3>Checkout</h3>
	<hr>

	<div class="row">

		<!-- Payment Information -->
		<div class="col-sm-8">
			<div class="panel panel-primary">
				<div class="panel-heading">Payment Information</div>
				<div class="panel-body">
					<dl class="dl-horizontal">
						<dt>Card Number</dt>
						<dd>MasterCard ending in 1651</dd>
						<dt>Billing Adress</dt>
						<dd>
							{{ user.username }}<br>
							{{ user.email }}<br>
							Passeig de Gracia,<br>
							Barcelona, Barcelona 08024<br>
						</dd>
						<dt>Card Number</dt>
						<dd>MasterCard ending in 1651</dd>
					</dl>

				</div>
			</div>
		</div>

		<!-- Order Summary -->
		<div class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Order Summary</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						{% for res in reservations %}
							<li>{{ res.flight.flight_number }} | <small>{{ res.flight.location_departure }} to {{ res.flight.location_arrival }}</small>
								<span class="pull-right">{{ res.price }}&euro;</span>
							</li>
						{% endfor %}
						<li>&nbsp;</li>
						<li><strong class="pull-right">Total: {{ total }}&euro;</strong></li>
					</ul>

				</div>

			</div>
		</div>
	</div>

	<ul class="pull-right list-inline h3">
		<li class="h4"><a href="?pay" class="btn btn-warning">Place Order</a></li>
	</ul>

	<div class="clearfix"></div>



{% endblock %}