{% extends 'base.html' %}


{% block content %}

	{% for res in reservations %}

		<div class="panel panel-success">
			<div class="panel-heading">
				<span class="h2">{{ res.flight.flight_number }}</span>
				<span class="h4 pull-right"> {{ res.flight.location_departure }} to {{ res.flight.location_arrival }}</span>
			</div>
			<div class="panel-body">



				<ul>
					<li><strong>Flight:</strong> {{ res.flight }}</li>
					<li><strong>Class:</strong> {{ res.type }}</li>
					<li><strong>Price:</strong> {{ res.price }}&euro;</li>
				</ul>
			</div>
		</div>

	{% endfor %}


	<a href="{% url 'flylo:checkout' %}" class="btn btn-warning pull-right">Proceed to Checkout</a>




{% endblock %}


