{% extends 'base.html' %}


{% block content %}

	<h3>Shopping Cart</h3>
	<hr>

	{% if reservations|length|get_digit:'-1' > 0 %}

	{% for res in reservations %}

		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="h3">{{ res.flight.flight_number }} | {{ res.pk }}</span>
				<span class="pull-right">
					{{ res.flight.location_departure }} to {{ res.flight.location_arrival }}&nbsp;
					<a href="{% url 'flylo:shoppingcart' %}?remove={{ res.pk }}" class="btn btn-sm btn-danger">Remove</a>
				</span>
			</div>
			<div class="panel-body">


				<ul>
					<li><strong>Flight:</strong> {{ res.flight }}</li>
					<li><strong>Class:</strong> {{ res.type }}</li>
					<li><strong>Price:</strong> {{ res.price }}&euro;</li>
				</ul>
			</div>
		</div>

	{% endfor %}


	<a href="{% url 'flylo:checkout' %}" class="btn btn-warning pull-right">Proceed to Checkout</a>

	{% else %}

	<p>No items in cart</p>

	{% endif %}


{% endblock %}


