{% extends 'base.html' %}
{% load static %}


{% block style %}

	<style type="text/css">
		.table th {
			text-align: center;
			font-weight: bold;
		}

		.table thead {
			color: black;
			background-color: inherit;
			border-bottom: 1px solid black;
		}

		.label {
			font-size: 1em;
			display: inline-block;
		}

		.panel-heading a {
			color: inherit;
		}
	</style>

{% endblock %}

{% block content %}

	<h3>Online Flight Comparator</h3>
	<hr>
	<div class="row" id="app">


		<div class="col-sm-10 col-sm-offset-1">

			<div class="form-inline">
				<div class="form-group ">
					<label for="url">URL to API:</label>
					<input type="text" class="form-control" id="url" @submit="" placeholder="http://...">
				</div>
				<span @click="addURL" class="btn btn-primary">Add to Comparison</span>
			</div>
			<br>
			<div class="well well-sm">
				<span v-for="url in urls" class="label label-success" style="margin:0 4px 4px 0">${ url }
					&nbsp;<span style="color:#2c3e50" class="glyphicon glyphicon-remove"
								@click="removeURL(url)"></span>
				</span>
			</div>

		</div>


		<div class="col-sm-4 col-sm-offset-1">
			<h4>Selected Flight</h4>
			<flight-panel :flight="flight_to_compare" :is_cheapest="ftc_cheapest"></flight-panel>
		</div>

		<div class="col-sm-5 col-sm-offset-1">
			<h4>Comparator Results</h4>
			<flight-panel v-for="f in flights" :key="f.pk" :flight="f"
						  compare_price="{{ flight.price }}"></flight-panel>
		</div>

	</div>


	</div>

{% endblock %}


{% block scripts %}

	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/comparator.vue.js' %}"></script>

	<script type="text/javascript">

        "use strict";

        let vue = new Vue({
            el: '#app',
            delimiters: ['${', '}'],

            data: {
                flight_to_compare: {},
                ftc_cheapest: false,
                flights: [],
                urls: {{ urls|safe }},
                dep: "{{ flight.location_departure }}",
                arr: "{{ flight.location_arrival }}",

            },

            methods: {
                addURL: function (e) {
                    let url = $('#url').val();
                    $('#url').val("");
                    this.urls.push(url);

                    this.refreshComparators();
                },

                removeURL: function (e) {
                    //e.preventDefault;
					console.log(e);
					let idx = this.urls.indexOf(e);
					this.urls.splice(idx, 1);

                    this.refreshComparators();
                },

                getComparedFlight: function () {
                    // Get the requested flight from our local database
                    $.getJSON(`/api/flights/{{ flight_pk }}/`, function (response) {
                        this.flight_to_compare = response;
                        //this.flight_to_compare.price = parseFloat(response.price);
                    }.bind(this));
                },

                refreshComparators: function () {
                    this.flights = [];

                    this.urls.forEach(function (url) {

                        $.getJSON(`${url}?departure=${this.dep}&arrival=${this.arr}`, function (response) {

                            let data = response.results;

                            data.forEach(function (f) {
                                f.url = url;
                            });
                            this.flights.push(...data);
                            // Sort by price
                            this.flights.sort(function (a, b) {
                                return parseFloat(a.price) - parseFloat(b.price);
                            });

                            let self_price = parseFloat("{{ flight.price }}");

                            // Set the cheapest flight
                            if (self_price > parseFloat(this.flights[0].price))
                                this.flights[0].cheapest = true;
                            else
                                this.ftc_cheapest = true;


                        }.bind(this));

                    }.bind(this));


                }
            },

            mounted: function () {
                this.getComparedFlight();
                this.refreshComparators();
            }


        });

	</script>

{% endblock %}