{% extends 'base.html' %}


{% block style %}

    <style>
        .gray {
            background-color: lightblue;
            border: 1px solid black;
            padding: 12px;
        }
    </style>
{% endblock %}

{% block content %}

    <h3>Flight Details:</h3>
    <hr>

    <div class="col-sm-8 col-sm-offset-2">

        <div class="row">

            <div class="panel panel-primary">
                <div class="panel-heading"><span class="h4">{{ flight.flight_number }}</span></div>
                <div class="panel-body">

                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4" style="text-align: center">
                                    <div class="row"><b>{{ flight.location_departure }}</b></div>
                                    <div class="row">{{ flight.estimated_time_departure }}</div>
                                </div>
                                <div class="col-sm-4" style="text-align: center">
                                    <div class="row"><span class="glyphicon glyphicon-arrow-right"></span></div>
                                    <div class="row">{{ flight.airplane }}</div>
                                    <div class="row">[{{ flight.status }}]</div>
                                </div>
                                <div class="col-sm-4" style="text-align: center">
                                    <div class="row"><b>{{ flight.location_arrival }}</b></div>
                                    <div class="row">{{ flight.estimated_time_arrival }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary col-sm-6 col-sm-offset-3">
                        <div class="panel-body">
                            <b>Number of <span style="color: green">FREE</span> seats on aircraft {{ flight.airplane }}:</b>
                            <li style="margin-left: 10%">First class:
                                <span style="color: green"><b>{{ free_first_class }}</b></span>
                                / {{ flight.airplane.seats_first_class }}
                            </li>
                            <li style="margin-left: 10%">Business:
                                <span style="color: green"><b>{{ free_business }}</b></span>
                                / {{ flight.airplane.seats_business }}
                            </li>
                            <li style="margin-left: 10%">Economy:
                                <span style="color: green"><b>{{ free_economy }}</b></span>
                                / {{ flight.airplane.seats_economy }}
                            </li>
                        </div>
                    </div>

                    <div class="panel panel-primary col-sm-6 col-sm-offset-3">
                        <div class="panel-body">
                            <b>Flight airlines:</b>
                            {% for airline in flight.airlines.all %}
                                <li style="margin-left: 10%">{{ airline }}</li>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

    <div class="row" style="margin-bottom: 2%">
            <a href="{% url 'flylo:comparator' flight.pk %}" class="btn btn-primary pull-right">Compare Flight</a>
            <a href="{% url 'flylo:flights' flight.location_departure %}" class="btn btn-success pull-left">
                Show other flights departing from {{ flight.location_departure }}</a>
    </div>



    </div>

{% endblock %}