{% include 'base.html' %}


{% block style %}
    <style>
        body {
            text-align: left;
        }
    </style>
{% endblock %}


{% block content %}

    {% if flights %}

        {% if departure %}
            <h3>You are looking at flights departing from {{ departure }}:</h3>
        {% else %}
            <h3>These are all available flights:</h3>
        {% endif %}


        <form action="{% url 'flylo:shoppingcart' %}" method="post">
            {% csrf_token %}
            {% for flight in flights %}
                <label><input type="checkbox" name="checkbox{{ flight.id }}" id="checkbox{{ flight.id }}"
                              value="{{ flight.id }}"></label>
                {% if departure %}
                    {{ flight.flight_number }} to {{ flight.location_arrival }} <br>
                {% else %}
                    <a href="{% url 'flylo:flights' departure %}{{ flight.location_departure }}">
                        {{ flight.flight_number }} </a> from {{ flight.location_departure }}
                    to {{ flight.location_arrival }} <br>
                {% endif %}
            {% endfor %}
            <input type="submit" value="Go to shopping cart">
        </form>



    {% else %}
        <p>No flights are available.</p>
    {% endif %}

{% endblock %}