{% include 'base.html' %}

{% block content %}

    <p><h1>Flylo Home Page</h1></p>
    <p>Welcome to Flylo, your web application for searching and buying fligths.</p>

    {% if departures %}
    <p>See flights with departure:
        <select onchange="window.location.href=this.value">
            <option>-- Select departure --</option>
        {% for departure in departures %}
            <option value="{% url 'flights' %}{{ departure }}">{{ departure }}</option>>
        {% endfor %}
        </select>
    </p>
    {% endif %}

    <p>See <a href="{% url 'flights' %}">all</a> flights.</p>

{% endblock %}