{% extends 'base.html' %}


{% block style %}
<style>
        body {
            text-align: left;
        }

        .table thead{
            background-color : black;
                color:white;
        }
        .table td{
        	text-align: center;
        }

		 .table th{
        	text-align: center;
        }

        .table td:first-child{
        	border-right: 2px solid gray;
        }

</style>
{% endblock %}


{% block content %}
{% if flights %}
	<form action="{% url 'flylo:shoppingcart' %}" method="post">
		{% csrf_token %}

		{% for flight in flights %}
		<h1>Return flights for {{flight.flight_number}}:</h1>

		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th>Add to Cart</th>
				<th>Flight No.</th>
				<th>Departure</th>
				<th>Arrival</th>
				<th>Status</th>
				<th>No. Seats</th>
				<th>Class</th>
			</tr>
			</thead>

			{% for return_flight in flight.return_flights %}
			<tr>

				<td>
					<label for="selected_return{{ return_flight.id }}">
						<input type="checkbox"
							   name="selected_return{{ return_flight.id }}"
							   id="selected_return{{ return_flight.id }}"
							   value="{{ return_flight.id }}">
					</label>
				</td>


				<td><a href="{% url 'flylo:flights' pk %}{{ return_flight.id }}">
					{{ return_flight.flight_number }} ({{ return_flight.pk }})</a></td>
				<td>{{ return_flight.location_departure }}</td>
				<td>{{ return_flight.location_arrival }}</td>
				<td>{{ return_flight.status }}</td>


				<td class="center"><input type="number" min="1" max="5" value="1" name="seats{{return_flight.id}}" disabled>
				</td>

				<td class="center">
					<select name="type{{return_flight.id}}" disabled>
						<option value='e'>Economy</option>
						<option value='b'>Business</option>
						<option value='f'>First Class</option>
					</select>
				</td>

			</tr>
			{% endfor %}
		</table>
		{% endfor %}

		<input type="submit" class="btn btn-primary pull-right" value="Go to Shopping Cart">
	</form>
{% else %}
<p>No flights are available.</p>
{% endif %}

{% endblock %}