{% extends 'base.html' %}


{% block style %}
    <style>
        body {
            text-align: left;
        }

        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        td:nth-child(2) {
            text-align: left;
        }

        td:nth-child(3) {
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
{% endblock %}


{% block content %}

    {% if flights %}

        {% if departure %}
            <h3>You are looking at flights departing from {{ departure }}:</h3>
        {% else %}
            <h3>These are all available flights:</h3>
        {% endif %}


        <table>
            <tr>
                <th>Flight number</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Status</th>
            </tr>
            {% for flight in flights %}
                <tr>
                    {% if departure %}
                        <td>{{ flight.flight_number }}</td>
                    {% else %}
                        <td><a href="{% url 'flylo:flights' departure %}{{ flight.location_departure }}">
                            {{ flight.flight_number }}</a></td>
                    {% endif %}
                    <td>{{ flight.location_departure }}</td>
                    <td>{{ flight.location_arrival }}</td>
                    <td>{{ flight.status }}</td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>No flights are available.</p>
    {% endif %}

{% endblock %}