{% extends 'base.html' %}

{% block style %}

    <style>
        #seats {
            border-collapse: collapse;
        }
    </style>

{% endblock %}

{% block content %}

    <h3>Check In for Reservation: {{ reservation.flight.flight_number }}</h3>
    <hr>

    <div class="col-sm-8 col-sm-offset-2">

        <div class="row">

            <div class="panel panel-primary">
                <div class="panel-body" style="text-align: center">
                    <div class="col-sm-4">
                        <div class="row">{{ reservation.flight.location_departure }}</div>
                        <div class="row">{{ reservation.flight.estimated_time_departure }}</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row"><span class="glyphicon glyphicon-arrow-right"></span></div>
                        <div class="row">{{ reservation.airline }}</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">{{ reservation.flight.location_arrival }}</div>
                        <div class="row">{{ reservation.flight.estimated_time_arrival }}</div>
                    </div>
                </div>
            </div>
        </div>

        <form class="form" method="POST">
            {% csrf_token %}

            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading text-large panel-title">Personal Data</div>
                    <div class="panel-body">
                        <div class="col-sm-6 form-group">
                            <label for="forename">Forename</label>
                            <input type="text" class="form-control" id="forename" name="forename" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="surname">Surname</label>
                            <input type="text" class="form-control" id="surname" name="surname" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading text-large panel-title">Choose a seat</div>
                    <div class="panel-body">
                        <div class="col-sm-12">

                            <table class="table">

                                {% if e %}
                                    <h4>Economy class seats:</h4>
                                    {% for i in "x"|rjust:rows_economy %}
                                        <tr>
                                            {% for i in "x"|rjust:columns %}
                                                <td>E11</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    {% if lr_economy %}
                                        <tr>
                                            {% for i in "x"|rjust:lr_economy %}
                                                <td>X67</td>
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endif %}

                                {% if b %}
                                    <h4>Business class seats:</h4>
                                    {% for i in "x"|rjust:rows_business %}
                                        <tr>
                                            {% for i in "x"|rjust:columns %}
                                                <td>A11</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    {% if lr_business %}
                                        <tr>
                                            {% for i in "x"|rjust:lr_business %}
                                                <td>X67</td>
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endif %}

                                {% if f %}
                                    <h4>First class seats:</h4>
                                    {% for i in "x"|rjust:rows_first_class %}
                                        <tr>
                                            {% for i in "x"|rjust:columns %}
                                                <td>A11</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    {% if lr_first_class %}
                                        <tr>
                                            {% for i in "x"|rjust:lr_first_class %}
                                                <td>X67</td>
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endif %}

                            </table>


                        </div>
                    </div>

                </div>

                <input type="hidden" name="next" value="{{ next|escape }}">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>

        </form>
    </div>

{% endblock %}