{% extends 'base.html' %}

{% block style %}

    <style>

    input[type=checkbox] {
			/* Double-sized Checkboxes */
			-ms-transform: scale(1.5); /* IE */
			-moz-transform: scale(1.5); /* FF */
			-webkit-transform: scale(1.5); /* Safari and Chrome */
			-o-transform: scale(1.5); /* Opera */
			padding: 10px;
		}
    </style>


{% endblock %}

{% block content %}

    <h3>Check In for Reservation: {{ reservation.flight.flight_number }}</h3>
    <hr>

    <div class="col-sm-8 col-sm-offset-2">

        <div class="row">

            <div class="panel panel-primary">
                <div class="panel-body" style="text-align: center">
                    <div class="col-sm-4">
                        <div class="row">{{ reservation.flight.location_departure }}</div>
                        <div class="row">{{ reservation.flight.estimated_time_departure }}</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row"><span class="glyphicon glyphicon-arrow-right"></span></div>
                        <div class="row">{{ reservation.airline }}</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">{{ reservation.flight.location_arrival }}</div>
                        <div class="row">{{ reservation.flight.estimated_time_arrival }}</div>
                    </div>
                </div>
            </div>
        </div>

        <form class="form" method="POST">
            {% csrf_token %}

            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading text-large panel-title">Personal Data</div>
                    <div class="panel-body">
                        <div class="col-sm-6 form-group">
                            <label for="forename">Forename</label>
                            <input type="text" class="form-control" id="forename" name="forename" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="surname">Surname</label>
                            <input type="text" class="form-control" id="surname" name="surname" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading text-large panel-title">Choose a seat</div>
                    <div class="panel-body">
                        <div class="row">


                                {% for seat, dis in seats %}
                                    <div class="col-sm-2 col-md-1" style="margin-bottom:12px ">
                                        <input type="radio" name="seat" {{ dis }} value="{{ seat }}"> {{ seat }}
                                    </div>
                                {% endfor %}


                        </div>
                    </div>

                </div>

                <input type="hidden" name="next" value="{{ next|escape }}">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>

        </form>
    </div>

{% endblock %}