{% extends 'base.html' %}


{% block style %}
	<style>
		.table td {
			text-align: center;
		}

		.table th {
			text-align: center;
		}
	</style>
{% endblock %}

{% block content %}

	<h3>Account / My Flights</h3>
	<hr>
	{% if my_flights %}

		<div class="table-responsive">

			<table class="table table-striped table-hover">
				<thead>
				<tr>
					<th></th>
					<th>Departure</th>
					<th></th>
					<th>Arrival</th>
					<th>Flight No.</th>
					<th>Seat</th>
					<th>Class</th>
					<th>Checkin</th>
				</tr>
				</thead>

				{% for reservation in my_flights %}
					<tr>
					<td><span class="h4"><b class="label label-primary">{{ reservation.flight.location_departure }}</b></span>
					</td>
					<td>{{ reservation.flight.estimated_time_departure }}</td>
					<td><span class="h4"><b
							class="label label-primary">{{ reservation.flight.location_arrival }}</b></span></td>
					<td>{{ reservation.flight.estimated_time_arrival }}</td>
					<td>{{ reservation.flight.flight_number }}</td>

					{% if reservation.checkin %}
						<td>{{ reservation.seat }}</td>
					{% else %}
						<td>-</td>
					{% endif %}

					<td>{{ reservation.get_type_display }}</td>

					{% if reservation.checkin %}
						<td class="h4"><b class="label label-primary">Checkin done</b></td>

					{% else %}
						<td><a href="{% url 'flylo:checkin' reservation.pk %}" class="btn btn-sm btn-danger">Checkin
							Flight</a></td>

					{% endif %}

				{% endfor %}
				</tr>

			</table>

		</div>

	{% else %}
		You haven't bought any flight yet.
	{% endif %}

{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('document').ready(function () {
			$('#nav_myflights').addClass("active")
        });
	</script>
{% endblock %}